.userWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #473b38;
  padding: 15px;
  border-radius: 0.25rem;
  border: 1px solid #73605b;
}

.userWrapper img {
  width: 150px;
}

.userName {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ae54d8;
  font-size: 1.1em;
}
