.buttonWrapper {
  width: 110px;
  background-color: #7e26a6;
  border: none;
  border-radius: 0.25rem;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
}

.buttonWrapper:hover {
  background-color: #ae54d8;
  cursor: pointer;
}

.buttonWrapper:focus {
  outline: none;
}

.buttonWrapper:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttonWrapper:disabled:hover {
  background-color: #7e26a6;
}

.small {
  width: 55px;
  height: 25px;
  font-size: 14px;
}
.buttonWrapper a {
  color: white;
  text-decoration: none;
}
